* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: OpenSansR;
  src: url(./fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansI;
  src: url(./fonts/open-sans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSansB;
  src: url(./fonts/open-sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Bold/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsR;
  src: url(./fonts/Poppins-Bold/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Cairo;
  src: url(./fonts/Cairo-SemiBold/cairo/Cairo-Bold.ttf);
}

a.nav__it:hover {
  color: #ff8001;
}
.info-list {
  cursor: pointer;
}

.cards__card:hover {
  transform: translate(0, -10%);
}

.container {
  margin: 0 auto;
  max-width: 53vw;
}
button.menu__categoria {
  background: #ff8001 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  color: white;
  width: 9rem;
  border: none;
  height: 2rem;
  font-size: 10px;
  margin-right: 4vw;
}

.info__line {
  margin-top: 2.3rem;
  border-top: solid #d5d5d5 0.1rem;
  width: 48vw;
  margin: 0 auto;
  margin-top: 2rem;
}

header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  margin-top: 2rem;
}
.nave {
  display: flex;
  flex-flow: row;
}

a.nav__it {
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: bolder;
  font-family: "OpenSansR";
  margin: 0px 2vw 0px 2vw;
  color: #414141;
}
button {
  cursor: pointer;
}
img {
  cursor: pointer;
}
.box_left {
  display: flex;
}

img.icon-love {
  width: 21px;
  vertical-align: middle;
}
.input__line {
  position: absolute;
  height: 1.2rem;
  border-right: 1.5px solid #b2b2b266;
  top: 14%;
  left: 89%;
}
input.searh {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b2b2b2ba;
  opacity: 1;
  border-radius: 12px;
  width: 28vw;
  height: 25px;
}

button {
  background: #ff8001 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  color: white;
  width: 114px;
  border: none;
  height: 38px;
  font-size: 12px;
}

section.menu {
  display: flex;
  justify-content: start;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.logo_fresh {
  width: 9rem;
  /* height: 75px; */
}
button {
  background: #ff8001 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  color: white;
  width: 5.5rem;
  border: none;
  height: 24px;
  font-size: 10px;
}

.logo {
  margin-right: 2rem;
}
.btn-login {
  margin-left: 4rem;
}

p.header_text {
  font-family: OpenSansR;
  font-size: 0.6rem;
  color: #262626ab;
}
.input {
  position: relative;
}

img.input__search {
  width: 12px;
  position: absolute;
  top: 25%;
  right: 4%;
}
p.cart-p {
  font-family: OpenSansR;
  font-size: 0.6rem;
}
p.wish-p {
  font-size: 0.6rem;
  font-family: "OpenSansR";
}

section.promo {
  background-image: url(./img/frutas/pexels-pineapple-supply-co-139259.jpg);
  background-repeat: inherit;
  background-size: contain;

  height: 14rem;
  display: flex;
  align-items: center;
}

p.promo_str {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  font-family: OpenSansI;
  color: #262626cf;
}
h1.promo_ntr {
  text-align: left;
  font: normal normal bold 2.4rem Poppins;
  letter-spacing: 0px;
  line-height: 41px;
}

.promo_text {
  margin-left: 9vw;
}
.p-btn {
  background: #ff8001 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  color: white;
  width: 136px;
  border: none;
  height: 25px;
  font-size: 10px;
  font: normal normal 600 10px OpenSansR;
  margin-top: 1.2rem;
}
p.ourProduct__best {
  font-size: 1.1rem;
  color: #ff4d69;
  font-family: OpenSansI;
  letter-spacing: 1px;
}
h1.ourProduct__our {
  color: #707070;
  font-size: 2rem;
  font-family: Poppins;
  letter-spacing: 1px;
}

section.sale {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sale_principal {
  background-image: url(./img/frutas/pexels-engin-akyurt-10899482.jpg);
  background-size: cover;
  width: 12rem;
  height: 24rem;
  cursor: pointer;
}
p.txt_fresh {
  position: absolute;
  top: 13%;
  left: 11%;
  color: white;
  font-family: Poppins;
  font-size: 1.5rem;
  line-height: 22px;
}
img.icon-cart {
  width: 14px;
  vertical-align: middle;
  margin-left: 27px;
}

.boxSale {
  width: 12rem;
  height: 10rem;
  background-image: url(./img/frutas/pexels-mateusz-dach-1122444.jpg);
  background-size: cover;
  cursor: pointer;
  margin: 0px 2px 0px 11px;
  color: white;
  font-size: 1.2rem;
  position: relative;
}

.sale__Up {
  display: flex;
}

.boxSaleD {
  width: 24.9rem;
  background-image: url(./img/frutas/pexels-oleg-magni-2209382.jpg);
  background-size: cover;
  height: 11.4rem;
  margin: 11px 2px 0px 11px;
  color: white;
  position: relative;
  cursor: pointer;
}

.sale_principal {
  width: 6rem;
  height: 17rem;
  padding: 41px;
  color: white;
  font-size: 1.3rem;
}

p.txt_sale {
  position: absolute;
  top: 60%;
  left: 12%;
  font-size: 1.4rem;
  font-family: Cairo;
  line-height: 22px;
  color: #ff8001;
}

p.txt_stra {
  position: absolute;
  top: 15%;
  left: 21%;
  font-size: 1.2rem;
  font-family: PoppinsR;
}
p.txt_freshD {
  position: absolute;
  top: 20%;
  left: 71%;
  font-size: 1.8rem;
  line-height: 29px;
  font-family: Cairo;
}
h2.sale_txH {
  font-family: PoppinsR;
  line-height: 33px;
  font-size: 1.8rem;
}

p.txt_saleD {
  position: absolute;
  top: 61%;
  left: 71%;
  font-size: 1.5rem;
  font-family: Cairo;
}

.ourProduct {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: OpenSansR;
}
p.blog__datetx {
  font-family: OpenSansR;
  color: #ff4d69;
  font-size: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
p.blog__desctx {
  font-size: 0.6rem;
  padding: 6px 25px 0px 25px;
  color: #707070;
  font-family: OpenSansR;
}
p.blog__titx {
  color: #474747;
  font-size: 1rem;
  font-family: Poppins;
}
.blog__card {
  width: 14.5rem;
}
h2.organic__tit {
  font-family: OpenSansR;
  margin-left: 3rem;
  font-size: 1.7rem;
}
h1.bestSeller__all {
  font-family: Poppins;
  color: #707070;
}
p.blog__txtF {
  font-family: OpenSansI;
  color: #707070;
}
h1.blog__txtB {
  font-family: Poppins;
  color: #707070;
  font-size: 2rem;
}

p.bestSeller__sub {
  font-family: OpenSansI;
  color: #ff4d69;
}

h1.organic__sub {
  font: normal normal bold 2.4rem Poppins;
}
.ourProducts_btn {
  background: none;
  background-image: url(./img/grey.png);
  background-size: cover;
  color: white;
  width: 8rem;
  height: 35px;
  font-size: 0.5rem;
  font-family: OpenSansR;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.7rem;
}
.ourProducts_btn:hover {
  background-color: none;
  background-image: url(./img/org.png);
  background-size: cover;
  color: white;
  width: 8rem;
  height: 35px;
  font-size: 0.5rem;
  font-family: OpenSansR;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.7rem;
}
section.cards {
  display: flex;
  justify-content: center;
}

.cards__card {
  background-color: gray;
  background-image: url(./img/frutas/pexels-mateusz-dach-1122444.jpg);
  background-size: cover;
  width: 8rem;
  height: 13rem;
  color: white;
  font-size: 1.3rem;
  margin: 36px 6px 40px 2px;
  border: solid #e9e8e8 1px;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.mq {
  background-image: url(./img/frutas/pexels-mark-stebnicki-2255935.jpg);
  background-size: cover;
}
.mw {
  background-image: url(./img/frutas/pexels-matheus-cenali-2733918.jpg);
  background-size: cover;
}
.me {
  background-image: url(./img/frutas/pexels-engin-akyurt-1435737.jpg);
  background-size: cover;
}
.ma {
  background-image: url(./img/frutas/pexels-asad-nazir-1987049.jpg);
  background-size: cover;
}
.ms {
  background-image: url(./img/frutas/pexels-pixabay-35629.jpg);
  background-size: cover;
}
.mf {
  background-image: url(./img/frutas/pexels-anna-shvets-3645504.jpg);
  background-size: cover;
}
img.stars {
  width: 0.7rem;
  margin: -1px;
  margin-top: 3px;
}
img.icon-loveW {
  width: 17px;
  height: 18px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.boxWish {
  display: flex;
  justify-content: space-between;
}
.boxStar {
  margin-left: 5px;
}

.cardBox {
  width: 100%;

  height: 4.5rem;

  background-color: white;
}
p.cardTxt {
  color: #262626;
  font-family: "OpenSansR";
  font-weight: bolder;
  font-size: 0.5rem;
  line-height: 24px;
}
p.price {
  color: #262626;
  font-family: "OpenSansB";
  font-weight: bolder;
  font-size: 0.7rem;
}
.proTx {
  margin-left: 0.5rem;
}

section.organic {
  background: #ff4d69 0% 0% no-repeat padding-box;
  height: 13rem;
  color: white;
  margin-bottom: 2rem;
}

.organic__txt {
  padding-top: 3.5rem;
  padding-left: 8vw;
}

h1.organic__sub {
  font-size: 2.4rem;
}

section.bestSeller {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

img.cercleImg {
  width: 5.5rem;
  height: 5.2rem;
}
.bestSeller__txt {
  text-align: center;
}
h1.bestSeller__all {
  font-size: 2.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
}
section.blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blog__img {
  width: 13.6rem;
  background-image: url(./img/frutas/pexels-magda-ehlers-1300975.jpg);
  background-size: cover;
  height: 9rem;
  margin: 34px 10px 0px 1px;
  cursor: pointer;
}
.blog__cards {
  display: flex;
  text-align: center;
}

.y2 {
  background-image: url(./img/frutas/pexels-kampus-production-8475174.jpg);
  background-size: cover;
  background-position: center;
}

.info-cols {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li {
  list-style: none;
}

ul {
  margin: 2rem 2.5rem 1.3rem 0rem;
  font-size: 0.8rem;
}

img.info-logo {
  width: 7rem;
  margin-bottom: 0.1rem;
}
li.info__tit {
  text-align: left;
  font-family: Poppins;
  letter-spacing: 1px;
  color: #ff8001;
  opacity: 1;
  margin: 2.5rem 0px 9px 0px;
}
li.info-list {
  font-size: 0.7rem;
  color: #4141416b;
  font-family: OpenSansR;
}
.mr {
  margin-bottom: 0.3rem;
}

ul.social__list {
  display: flex;
}

.social-menu {
  display: flex;
  justify-content: center;
}

.social-menu ul li {
  list-style: none;
  margin: 0 2px;
}

.social-menu ul li .fab {
  font-size: 13px;
  line-height: 26px;
  transition: 0.3s;
  color: white;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 25px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d69 0% 0% no-repeat padding-box;
  text-align: center;
  transition: 0.6s;
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #ff4d69;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #ff4d69;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #ff4d69;
}

section.newsletter {
  height: 4.4rem;
  background-color: #f780ae;
}
h1.newSletx {
  color: white;
  font-size: 0.8rem;
  font-family: PoppinsR;
  margin-bottom: 5px;
}

p.newsletterDes {
  color: white;
  font-size: 0.5rem;
  font-family: PoppinsR;
  line-height: 11px;
}

section.newsletter {
  position: relative;
}
.newSletter__singTx {
  position: absolute;
  top: 21%;
  left: 12%;
}

input.submit__inpF {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f780ae;
  opacity: 1;
  border-radius: 11px;
  width: 24vw;
  height: 25px;
  font-size: 0.6rem;
  font-family: PoppinsR;
  max-width: 19rem;
}
.submit__inp {
  position: absolute;
  left: 50%;
  top: 37%;
}
.submit__boxInp {
  position: relative;
}
button.submit__btn {
  position: absolute;
  right: 0%;
  top: 1px;
  width: 4.1rem;
  height: 25px;
  background-color: #a40016;
  font-size: 0.6rem;
  border-radius: 0px 12px 11px 0px;
  font-family: PoppinsR;
}
input.submit__inpF ::placeholder {
  color: red;
}

input[type="text"]::placeholder :-ms-input-placeholder {
  padding-left: 22px; /* for IE 10-11 */
  color: #e0e0e0;
}
::-webkit-input-placeholder {
  padding-left: 22px; /* for IE Edge */
  color: #e0e0e0;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p.footer__txt {
  color: #707070;
  font-size: 0.6rem;
  font-family: "OpenSansR";
  margin: 0px 26px 0px 0px;
}
.footer__txtBox {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 6000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  height: 18rem;
  width: 17rem;
  position: relative;
  transition: all 2s ease-in-out;
  background-image: url(./img/frutas/pexels-vanessa-loring-5966630.jpg);
  background-size: cover;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
}
.content {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: "Cairo";
  margin-top: 36%;
}

.navegation {
  display: none;
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 2rem;
  background-image: radial-gradient(#ff8001, #ffae00);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navegation__button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff8001;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 6rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(black, 0.1);
}

.navegation__checkbox {
  display: none;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: #ff8001;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.navegation__list {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
span.navegation__icon {
  margin-top: 4px;
}
img.catIcon {
  width: 1rem;
  vertical-align: middle;
}
.navegation__link:link {
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    #ff800100 0%,
    #ff800100 50%,
    white 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}
.navegation__link:visited {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    black 0%,
    black 50%,
    rgb(184, 83, 83) 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}
.navegation__link:active {
  background-position: 100%;
  color: #ff8001;
}
.navegation__link:hover {
  background-position: 100%;
  color: #ff8001;
}
.navegation__item {
  margin: 1rem;
}

.navegation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navegation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
span.catge {
  margin-left: 8px;
}

/* ICON */

@media (max-width: 900px) {
  section.cards {
    flex-wrap: wrap;
    align-items: center;
  }

  .organic__cercles {
    display: flex;
    flex-wrap: wrap;
  }

  .ourProducts__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .blog__cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  section.sale {
    flex-wrap: wrap;
  }

  .sale_second {
    width: 100%;
  }

  .sale_principal {
    display: none;
  }

  /* .sale_principal {
           height: 7.4rem;
    width: 19.9rem;
    background-color: green;
    margin: 2px 0px 7px 5px;
    color: white;
    
    } */

  .sale__d {
    display: flex;
    justify-content: center;
  }
  .info-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .sale__Up {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .boxSale {
    width: 80%;
    height: 10rem;
    background-color: #b9b9b9;
    margin: 0px 0px 5px 0px;
    color: white;
    font-size: 1.2rem;
  }

  .boxSaleD {
    width: 80%;
    height: 10rem;
    background-image: url(./img/frutas/pexels-oleg-magni-2209382.jpg);
    background-size: cover;
    margin: 0px 0px 0px 0px;
    color: white;
  }

  .cards__card {
    background-color: gray;
    width: 8rem;
    height: 13rem;
    color: white;
    font-size: 1.3rem;
    margin: 36px 6px 40px 2px;
    border: solid #e9e8e8 1px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .info-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
  }
  .info__adre {
    width: 100%;
    flex-direction: row;
  }

  ul.social__list {
    margin: 13px 0px 0px 0px;
  }
  .container {
    margin: 0px;
    max-width: 100vw;
  }
  input.submit__inpF {
    width: 11rem;
  }
  section.newsletter {
    display: flex;
    width: 61%;
    margin: 0 auto;
  }
  section.menu {
    display: none;
  }
  header.header {
    justify-content: space-around;
  }
  .input__line {
    display: none;
  }
  section.newsletter {
    width: 100%;
  }
  .btn-login {
    display: none;
  }
  header.header {
    margin-top: 1rem;
  }
  section.newsletter {
    display: none;
  }
  .navegation {
    display: block;
  }
}
